[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
boto3 = "*"
aws-lambda-powertools = "*"

[dev-packages]

boto3 = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
