[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

boto3 = "*"
{%- if cookiecutter.include_lambda_powertools == "y" %}
aws-lambda-powertools = "*"
{% endif %}

[dev-packages]

boto3 = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
