[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

boto3 = "*"
{%- if cookiecutter.include_xray == "y" %}
aws-xray-sdk = "*"
{% endif %}

[dev-packages]

pytest = "*"
pytest-cov = "*"

